.section-comanda{
    background-color: var(--bcg-grey) ;
    padding-top: 94px;
    padding-bottom: 94px;
}
.conteiner-comand{
    @extend %flex-center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px; 
}

.comand__item:not(:last-child) {
    margin-right: 30px;
}
.section-title{
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-family: 'Roboto';
    @include front(700, 36px);
     line-height: 1.17;
    text-align: center;
}
.worker{
    padding-top: 30px;
    padding-bottom: 30px;
}
.comand{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
       &__titl{
        text-align: center;
        color: var(--title-text-color);
        @include front(500, 16px);
        line-height: 1.19;
        margin-bottom: 10px;
       }
       &__text{
        font-size: 16px;
        line-height: 1.19;
        text-align: center; 
       }
       &__item{
        background-color: var(--dcg-color);
        flex-basis: calc(100% / 4 - 30px);
           &:not(:last-child) {
              margin-right: 30px;
            }
        }
}

