.hero{
    display: flex;
    font-family: 'Roboto';
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) , rgba(47, 48, 58, 0.4)), url(../images/Img\ hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    height: 600px;
    margin: 0 auto;
       &__conteiner{
        @extend %flex-center;
           margin-left: auto;
           margin-right: auto;
           width: 1200px;
           padding-left: 15px;
           padding-right: 15px; 
        }
      
        
}

